<div class="row">
    <div class="col-sm-12">
        <div class="page-header-title">
            <h4 class="page-title">Brand</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">Create New Merchant Group</h3></div>
            <div class="panel-body">
                <form name="mgc.new_merchant_group_form" class="form-horizontal" novalidate ng-submit="mgc.create()">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Group Name</label>
                        <div class="col-md-8 m-t-5-sm">
                            <input type="text" class="input-large form-control" name="name"
                                   ng-model="mgc.new_merchant_group.name" ng-fade ng-required="true">
                            <div class="error-large error-large alert alert-danger ng-hide alert-reg-position"
                                 ng-show="mgc.new_merchant_group_form.name.$error.required
                                            && (mgc.new_merchant_group_form.name.$touched || new_merchant_group_form.new_merchant_group_form.$submitted)"
                                 role="alert">
                                Name is required.
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Group Type</label>
                        <div class="col-md-8 m-t-5-sm">
                            <div class="btn-group m-r-15 m-t-10">
                                <button type="button" class="btn  btn-sm" ng-class="mgc.groupTypeClass('merchant',mgc.new_merchant_group.type)" ng-click="mgc.new_merchant_group.type = 'merchant'">Merchant Level</button>
                                <button type="button" class="btn  btn-sm" ng-class="mgc.groupTypeClass('group',mgc.new_merchant_group.type)" ng-click="mgc.new_merchant_group.type = 'group'">Group Level</button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-show="mgc.new_merchant_group.type == 'merchant'">
                        <label class="col-md-4 control-label">Merchants</label>
                        <div class="col-md-8 m-t-5-sm">
                            <button type='button' class='btn menu-btn btn-primary fix-button-wrap-text' data-toggle="modal" ng-disabled
                                    data-target="#merchant-select-modal">Select/Change Merchants
                            </button>
                        </div>

                        <label class="col-md-4 control-label m-t-10" ng-show="mgc.new_merchant_group.merchants.length > 0">Selected Merchants</label>
                        <div class="col-md-8 m-t-10"
                             ng-show="mgc.new_merchant_group.merchants.length > 0">
                            <div class="table-fixed-with-scroll">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Address</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="merchant in mgc.new_merchant_group.merchants">
                                        <td>{{merchant.merchant_id}}</td>
                                        <td>{{merchant.name}}</td>
                                        <td>
                                            {{merchant.address1}}<BR>
                                            {{merchant.city}}, {{merchant.state}} {{merchant.zip}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-show="mgc.new_merchant_group.type == 'group'">
                        <label class="col-md-4 control-label">Groups</label>
                        <div class="col-md-8 m-t-5-sm">
                            <button type='button' class='btn menu-btn btn-primary fix-button-wrap-text' data-toggle="modal" ng-disabled
                                    data-target="#merchant-group-select-modal">Select Groups
                            </button>
                        </div>

                        <label class="col-md-4 control-label m-t-10" ng-show="mgc.new_merchant_group.groups.length > 0">Selected Groups</label>
                        <div class="col-md-8 m-t-10"
                             ng-show="mgc.new_merchant_group.groups.length > 0">
                            <div class="table-fixed-with-scroll">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="group in mgc.new_merchant_group.groups">
                                        <td>{{group.id}}</td>
                                        <td>{{group.name}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                    <div class="flex-init flex-justify-content-space-between">
                        <div class="col-md-12">
                            <button class='btn-success btn pull-right'>Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<merchant-selector close-merchant-select="mgc.setMerchants()" all-option="1" master-only="1" propation-options="0"></merchant-selector>
<merchant-group-selector close-merchant-group-select="mgc.setGroups()" all-option="1" master-only="1" propation-options="0"></merchant-group-selector>