<div id="merchant-select-modal" class="modal fade promo-merchant-select-modal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" ng-show="propationOptions == 1">These changes belong to</h4>
                <h4 class="modal-title" ng-show="propationOptions != 1">Merchant Select</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="col-md-12 m-b-20" ng-show="propationOptions == 1">
                        <div class="form-group">
                            <label class="col-md-3 col-lg-3 control-label">Apply To</label>
                            <div class="col-md-9 col-lg-9">
                                <select name="brand" class="form-control input-large margin-top-five" ng-required="true"
                                        ng-model="merchant_search_service.propagate_type" ng-fade
                                        ng-options="option.code as option.desc for option in propagate_options">
                                    <option class="placeholder-color" value="" selected disabled>Brand</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 form-group">
                        <input type="text" class="input-med form-control" name="merchants_filter"
                               ng-enter="merchant_search_service.merchantSearch()"
                               ng-model="merchant_search_service.search_text" ng-fade placeholder="Filter">

                        <div class="col-md-12 button-select" ng-show="merchant_search_service.processing">
                            <div class="filter-loader-contain">
                                <div class="filter-loader"></div>
                            </div>
                        </div>
                    </div>

                    <div ng-show="!merchant_search_service.processing" class="col-md-6 m-t-15"
                         ng-class="selectMerchantOpacityFifty()">
                        <div class="form-group">
                            <label class="control-label">Merchant Results</label>
                            <div ng-class="selectMerchantOpacityFifty()">
                                <div class="m-t-20" ng-show="merchant_search_service.selectable_merchants.length > 0">
                                    <table class="table table-hover" style="margin-bottom: -1px">
                                        <thead>
                                        <tr>
                                            <th style="width: 85px" ng-click="sortBy('merchant_id')">
                                                ID <span class="sort-order" ng-show="propertyName === 'merchant_id'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th ng-click="sortBy('name')">
                                                Name
                                                <span class="sort-order" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                            <th ng-click="sortBy('address1')">
                                                Address
                                                <span class="sort-order" ng-show="propertyName === 'address1'" ng-class="{reverse: reverse}"></span>
                                            </th>
                                        </tr>
                                        </thead>
                                    </table>
                                    <div class="table-fixed-with-scroll">
                                        <table class="table table-hover">
                                            <tbody>
                                            <tr ng-repeat="merchant in merchant_search_service.selectable_merchants | orderBy:propertyName:reverse"
                                                ng-click="merchant_search_service.addMerchant(merchant)">
                                                <td>
                                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                </td>
                                                <td>{{merchant.merchant_id}}</td>
                                                <td>{{merchant.name}}</td>
                                                <td>
                                                    {{merchant.address1}}<BR>
                                                    {{merchant.city}}, {{merchant.state}} {{merchant.zip}}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 m-t-15" ng-class="selectMerchantOpacityFifty()"
                         ng-show="!merchant_search_service.processing">
                        <div class="form-group">
                            <label class="control-label">Selected Merchants:</label>

                            <div class="m-t-20" ng-show="merchant_search_service.selected_merchants.length > 0">
                                <table class="table table-hover" style="margin-bottom: -1px">
                                    <thead>
                                    <tr>
                                        <th style="width: 85px" ng-click="sortBy('merchant_id')">
                                            ID <span class="sort-order" ng-show="propertyName === 'merchant_id'" ng-class="{reverse: reverse}"></span>
                                        </th>
                                        <th ng-click="sortBy('name')">
                                            Name
                                            <span class="sort-order" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
                                        </th>
                                        <th ng-click="sortBy('address1')">
                                            Address
                                            <span class="sort-order" ng-show="propertyName === 'address1'" ng-class="{reverse: reverse}"></span>
                                        </th>
                                    </tr>
                                    </thead>
                                </table>
                                <div class="table-fixed-with-scroll">
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr ng-repeat="merchant in merchant_search_service.selected_merchants | orderBy:propertyName:reverse"
                                            ng-click="merchant_search_service.removeMerchant(merchant)">
                                            <td>
                                                <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                            </td>
                                            <td>{{merchant.merchant_id}}</td>
                                            <td>{{merchant.name}}</td>
                                            <td>
                                                {{merchant.address1}}<BR>
                                                {{merchant.city}}, {{merchant.state}} {{merchant.zip}}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-disabled class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-success" ng-disabled data-dismiss="modal" ng-click="closeMerchantSelect()">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>
