<div class="menu-edit-page">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header-title menu-bg">
                <h4 class="page-title">Quick Edit</h4>
                <ol class="breadcrumb pull-right">
                    <li><a href="#/menus">Menus</a></li>
                    <li><a href="javascript:void(0);">{{mm.full_menu.name}} Quick Edit</a></li>
                </ol>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading  flex-justify-content-space-between">
                    <h2 class="panel-title">Filter by Item & Modifier Item</h2>

                    <button type="button" ng-disabled="" class="btn btn-danger pull-right"
                            ng-click="mm.merchant_select_type = 'menu-copy-select'"
                            ng-show="mm.user.hasPermission('multi_merchs_filter')"
                            data-toggle="modal"
                            data-target="#merchant-single-select-modal">
                        Copy Menu
                        <i class="fa fa-question-circle tooltip-help" aria-hidden="true">
                            <span class="tool-tip-text-left">Use to copy this menu to another location</span>
                        </i>
                    </button>

                    <button type="button" ng-disabled="" class="btn btn-success pull-right" data-toggle="modal" data-target="#merchant-single-select-modal"
                            ng-click="mm.merchant_select_type = 'menu-merchant-select'"
                            ng-if="!mm.isOperator"
                    >
                        Select Merchant
                    </button>
                    <button type="button" ng-disabled="" class="btn btn-warning pull-right"
                            ng-show="mm.pos_import_url"
                            ng-click="mm.posImport()">
                        POS System Menu Import
                        <i class="fa fa-question-circle tooltip-help" aria-hidden="true">
                            <span class="tool-tip-text-left">Last Import: {{mm.last_pos_import_date}}</span>
                        </i>
                    </button>
                    <button type="button" ng-disabled="" class="btn btn-primary pull-right"
                            ng-click="mm.defaultPricesConfirm()"
                            ng-if="!mm.isOperator">
                        Default Prices
                        <i class="fa fa-question-circle tooltip-help http://localhost:10082/" aria-hidden="true">
                            <span class="tool-tip-text-left">Revert this merchant's prices to the default, master record prices.</span>
                        </i>
                    </button>
                </div>
                <div class="panel-body">
                    <div class="filter-body">
                        <div class="form-group" style="width: 200px">
                            <input type="text" class="form-control input-large inline-block" ng-model="mm.filter_text"
                                   placeholder="Enter Item/Modifier Item">
                        </div>
                        <div class="form-group hide-toggle flex-init flex-align-items-center">
                            <label class="inline m-t-10 m-r-10">Hide Inactive Menu Elements</label>
                            <toggle-switch class="hide-toggle" name="filter_hide_inactive"
                                           ng-model="mm.filter_hide_inactive"></toggle-switch>
                        </div>
                        <div class="form-group hide-toggle flex-init flex-align-items-center">
                            <label class="inline m-t-10 m-r-10">Above 0 Item Prices Only</label>
                            <toggle-switch class="hide-toggle" name="filter_hide_inactive"
                                           ng-model="mm.filter_positive_items_only"></toggle-switch>
                        </div>
                    </div>
                </div> <!-- panel-body -->
            </div>
        </div>
    </div>
    <div class="panel panel-primary" ng-if="mm.loading">
        <div class="panel-body">
            <div class="filter-loader-contain">
                <div class="filter-loader"></div>
            </div>
        </div>
    </div>
    <div ng-if="!mm.loading">
        <div class="panel panel-default" ng-show="mm.filter_text.length < 3">
            <div class="panel-heading reorder-button-space-between">
                <h2 class="panel-title">
                    Sections
                </h2>
                <!--<button type="button" class="btn btn-danger" data-toggle="modal"-->
                <!--ng-click=""-->
                <!--data-target="">-->
                <!--<i class="fa fa-long-arrow-down" aria-hidden="true"></i>-->
                <!--<i class="fa fa-long-arrow-up" aria-hidden="true"></i>-->
                <!--Reorder Sections-->
                <!--</button>-->
            </div>
            <div class="panel-body">
                <div class="quick-edit-sizes">
                    <div ng-show="full_menu.menu_types.length == 0">
                        <h5 class="pre-load-text">No Items
                            Found</h5></div>
                    <div ng-repeat="(section_name, section_items) in full_menu.menu_types">
                        <div class="panel panel-primary">
                            <div class="panel-heading section-select"
                                 ng-click="section_items.opened = !section_items.opened">
                                <div class="panel-title sub-panel-title">
                                    <i class="fa"
                                       ng-class="{ 'fa-plus':!section_items.opened,
                                       'fa-minus':section_items.opened }"
                                       aria-hidden="true"></i>
                                    <div class="title">{{section_name}}</div>
                                </div>
                            </div>
                            <div class="panel-body" ng-show="section_items.opened">
                                <table id="table-fix" class="table content-table">
                                    <thead>
                                    <tr>
                                        <th>Item Name</th>
                                        <th>Size</th>
                                        <th>Description</th>
                                        <th>Ext Identifier</th>
                                        <th>Price</th>
                                        <th>Active</th>
                                        <th>P/U & Delivery</th>
                                        <th>Advanced Settings</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!--| filter: mm.menuItemFilter-->
                                    <tr ng-repeat="item in section_items | filter: mm.menuItemFilter"
                                        ng-class="{successeffect: item.success, loadingeffect: item.loading, faileffect:item.fail}">
                                        <td>{{item.item_name}}</td>
                                        <td>{{item.size_name}}</td>
                                        <td>{{mm.returnFirstEightDesc(item.description)}}...
                                            <i class="fa fa-question-circle tooltip-help" aria-hidden="true">
                                                <span class="tool-tip-text-responsive">{{item.description}}</span>
                                            </i>
                                        </td>
                                        <td>
                                            {{item.external_id}}
                                        </td>
                                        <td>
                                            <input type="number" class="form-control" name="item_price"
                                                   ng-model="item.price" ng-fade ng-required="true"
                                                   step="0.01" min="0" ng-min="0"
                                                   ng-keyup="mm.updateItem(item, 'price', $index)">
                                        </td>
                                        <td>
                                            <toggle-switch class="toggle-switch-margin6" name="active"
                                                           on-label="On" off-label="Off"
                                                           ng-change="mm.changeItemActive(item)"
                                                           ng-model="item.active">
                                            </toggle-switch>
                                        </td>
                                        <td>
                                            <div class="select"><select
                                                    name="included_merchant_menu_types"
                                                    class="form-control"
                                                    ng-model="item.included_merchant_menu_types"
                                                    ng-change="mm.updateItemPost(item, 'included_merchant_menu_types')"
                                                    ng-options="option as option for option in mm.merchant_menu_types">
                                            </select></div>
                                        </td>
                                        <td class="edit-icon">
                                            <i class="fa fa-pencil-square-o all-open-mod-item-icon" ng-show="item.show_edit_allowed_mods"
                                               ng-click="mm.itemAllowedModifiersOpen(item)"></i>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div id="disable-hover-card" class="content-responsive">
                                    <div ng-repeat="item in section_items | filter: mm.menuItemFilter">
                                        <div class="panel panel-body row-table"
                                             ng-class="{successeffect: item.success, loadingeffect: item.loading, faileffect:item.fail}">
                                            <div class="name text-overflow-wrap-word-break">
                                                <h5 class="dark-grey"><b>{{item.item_name}}</b></h5>
                                            </div>
                                            <div class="id">
                                                <toggle-switch class="toggle-switch-margin6" name="active"
                                                               on-label="On" off-label="Off"
                                                               ng-change="mm.changeItemActive(item)"
                                                               ng-model="item.active">
                                                </toggle-switch>
                                            </div>
                                            <div class="description clear">
                                                <div>
                                                    {{item.size_name}}
                                                </div>
                                                <div class="content-fields">
                                                    <div class="m-r-5 flex-align-self-end column">
                                                        <div><label class="dark-grey">Ext
                                                            Identifier</label></div>
                                                        <input type="text" class="form-control"
                                                               name="external_id"
                                                               ng-model="item.external_id" ng-fade
                                                               ng-required="true"
                                                               ng-keyup="mm.updateItem(item, 'external_id', $index)">
                                                    </div>
                                                    <div class="m-r-5 flex-align-self-end column">
                                                        <div><label class="dark-grey">Price</label>
                                                        </div>
                                                        <input type="number" class="form-control" name="item_price"
                                                               ng-model="item.price" ng-fade ng-required="true"
                                                               step="0.01" min="0" ng-min="0"
                                                               ng-keyup="mm.updateItem(item, 'price', $index)">

                                                    </div>
                                                    <div class="flex-align-self-end column">
                                                        <div><label class="dark-grey">P/U &
                                                            Delivery</label></div>
                                                        <div class="select"><select
                                                                name="included_merchant_menu_types"
                                                                class="form-control"
                                                                ng-model="item.included_merchant_menu_types"
                                                                ng-change="mm.updateItemPost(item, 'included_merchant_menu_types')"
                                                                ng-options="option as option for option in mm.merchant_menu_types">
                                                        </select></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-default"
             ng-show="mm.filter_text.length < 3">
            <div class="panel-heading reorder-button-space-between">
                <h2 class="panel-title">
                    Modifier Groups
                </h2>
                <!--<button type="button" class="btn btn-danger" data-toggle="modal"-->
                <!--ng-click="im.openModGroupsPriority()"-->
                <!--data-target="#re-order-mod-groups-modal">-->
                <!--<i class="fa fa-long-arrow-down" aria-hidden="true"></i>-->
                <!--<i class="fa fa-long-arrow-up" aria-hidden="true"></i>-->
                <!--Reorder Modifier Groups-->
                <!--</button>-->
            </div>
            <div class="panel-body">
                <!--Modifiers-->
                <div class="quick-edit-modifiers">
                    <div ng-show="mm.full_menu.modifier_groups.length == 0">
                        <h5 class="pre-load-text">No
                            Modifiers Found</h5></div>
                    <div ng-repeat="(mod_group_name, mod_group_items) in mm.full_menu.modifier_groups">
                        <div class="panel panel-primary">
                            <div class="panel-heading section-select"
                                 ng-click="mod_group_items.opened = !mod_group_items.opened">
                                <div class="panel-title sub-panel-title">
                                    <i class="fa"
                                       ng-class="{ 'fa-plus':!mod_group_items.opened,
                                       'fa-minus':mod_group_items.opened }"
                                       aria-hidden="true"></i>
                                    <div class="title">{{mod_group_name}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body" ng-show="mod_group_items.opened">
                            <table class="table table-hover content-table">
                                <thead>
                                <tr>
                                    <th>Modifier Name</th>
                                    <th>Size</th>
                                    <th>Ext Identifier</th>
                                    <th>Price</th>
                                    <th>Active</th>
                                    <th>P/U & Delivery</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="mod_item in mod_group_items | filter:(mm.filter_hide_inactive || '') && {active: mm.filter_hide_inactive}"
                                    ng-class="{successeffect: mod_item.success, loadingeffect: mod_item.loading, faileffect:mod_item.fail}"
                                    class="hover">
                                    <td>{{mod_item.modifier_item_name}}</td>
                                    <td>{{mod_item.size_name}}</td>
                                    <td>{{mod_item.external_id}}</td>
                                    <td><input type="number" class="form-control input-med" name="modifier_price"
                                               ng-model="mod_item.modifier_price" ng-fade ng-required="true"
                                               step="0.01" min="0" ng-min="0"
                                               ng-keyup="mm.updateModifierItemDelay(mod_item, 'modifier_price', $index)">
                                    </td>
                                    <td>
                                        <toggle-switch class="toggle-switch-margin6" name="active"
                                                       on-label="On" off-label="Off"
                                                       ng-click="mm.toggleStopPropagation($event)"
                                                       ng-change="mm.changeModifierItemActive(mod_item)"
                                                       ng-model="mod_item.active">
                                        </toggle-switch>
                                    </td>
                                    <td>
                                        <div class="select">
                                            <select
                                            name="included_merchant_menu_types"
                                            class="form-control"
                                            ng-model="mod_item.included_merchant_menu_types"
                                            ng-change="mm.updateModifierItemDelay(mod_item, 'included_merchant_menu_types')"
                                            ng-options="option as option for option in mm.merchant_menu_types">
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="content-responsive">
                                <div ng-repeat="mod_item in mod_group_items | filter:(mm.filter_hide_inactive || '') && {active: mm.filter_hide_inactive}"
                                >
                                    <div class="panel panel-body row-table"
                                         ng-class="{successeffect: mod_item.success, loadingeffect: mod_item.loading, faileffect:mod_item.fail}"
                                         data-toggle="modal"
                                         data-target="#edit-modifier-item-modal"
                                         ng-click="mm.editModItem(mod_item)"
                                    >
                                        <div id="flex">
                                            <div class="name">
                                                <h5 class="dark-grey bold">
                                                    {{mod_item.modifier_item_name}}
                                                </h5>
                                            </div>
                                            <div class="id">
                                                <div>
                                                    <toggle-switch class="toggle-switch-margin6" name="active"
                                                                   on-label="On" off-label="Off"
                                                                   ng-click="mm.toggleStopPropagation($event)"
                                                                   ng-change="mm.changeModifierItemActive(mod_item)"
                                                                   ng-model="mod_item.active">
                                                    </toggle-switch>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="description clear">
                                            <div ng-show="!!mod_item.size_name">
                                                Size: {{mod_item.size_name}}
                                            </div>
                                            <div class="content-fields">
                                                <div>Price: ${{mod_item.modifier_price}}</div>
                                                <div>P/U & Delivery:
                                                    {{mod_item.included_merchant_menu_types}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--When you filter the content, size filter-->
    <div class="quick-edit-sizes" ng-show="mm.filter_text.length >= 3">
        <div class="panel panel-primary">
            <div class="panel-heading ">
                <h3 class="panel-title">
                    Menu Items
                </h3>
            </div>
            <div class="panel-body" ng-show="resultItems.length == 0">
                <h5 class="pre-load-text">No Items Found</h5>
            </div>
            <div class="panel-body" ng-show="resultItems.length > 0">
                <table id="table-fix" class="table content-table">
                    <thead>
                    <tr>
                        <th>Section</th>
                        <th>Item Name</th>
                        <th>Size</th>
                        <th>Description</th>
                        <th>Ext Identifier</th>
                        <th>Price</th>
                        <th>Active</th>
                        <th>P/U & Delivery</th>
                        <th>Advanced Settings</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in mm.full_menu.all_items | filter:(mm.filter_hide_inactive || '') && {active: mm.filter_hide_inactive} | filter: mm.filterItems as resultItems"
                        ng-class="{successeffect: item.success, loadingeffect: item.loading, faileffect:item.fail}">
                        <td>{{item.menu_type_name}}</td>
                        <td>{{item.item_name}}</td>
                        <td>{{item.size_name}}</td>
                        <td>{{mm.returnFirstEightDesc(item.description)}}...
                            <i class="fa fa-question-circle tooltip-help" aria-hidden="true">
                                <span class="tool-tip-text-responsive">{{item.description}}</span>
                            </i>
                        </td>
                        <td>
                            {{item.external_id}}
                        </td>
                        <td>
                            <input type="number" class="form-control" name="item_price"
                                   ng-model="item.price" ng-fade ng-required="true"
                                   step="0.01" min="0" ng-min="0"
                                   ng-keyup="mm.updateItem(item, 'price', $index)">
                        </td>
                        <td>
                            <toggle-switch class="toggle-switch-margin6" name="active"
                                           on-label="On" off-label="Off"
                                           ng-change="mm.changeItemActive(item)"
                                           ng-model="item.active">
                            </toggle-switch>
                        </td>
                        <td>
                            <div class="select"><select name="included_merchant_menu_types"
                                                        class="form-control"
                                                        ng-model="item.included_merchant_menu_types"
                                                        ng-change="mm.updateItemPost(item, 'included_merchant_menu_types')"
                                                        ng-options="option as option for option in mm.merchant_menu_types">
                            </select></div>
                        </td>
                        <td class="edit-icon">
                            <i class="fa fa-pencil-square-o all-open-mod-item-icon" ng-show="item.show_edit_allowed_mods"
                               ng-click="mm.itemAllowedModifiersOpen(item)"></i>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div id="disable-hover-card" class="content-responsive">
                    <div ng-repeat="item in mm.full_menu.all_items | filter: mm.menuItemFilter">
                        <div class="panel panel-body row-table"
                             ng-class="{successeffect: item.success, loadingeffect: item.loading, faileffect:item.fail}">
                            <div class="name text-overflow-wrap-word-break">
                                <h5 class="dark-grey"><b>{{item.item_name}}</b></h5>
                            </div>
                            <div class="id">
                                <toggle-switch class="toggle-switch-margin6" name="active"
                                               on-label="On" off-label="Off"
                                               ng-change="mm.changeItemActive(item)"
                                               ng-model="item.active">
                                </toggle-switch>
                            </div>
                            <div class="description clear">
                                <div>
                                    {{item.size_name}}
                                </div>
                                <div class="content-fields">
                                    <div class="m-r-5 flex-align-self-end column">
                                        <div><label class="dark-grey">Ext Identifier</label></div>
                                        <input type="text" class="form-control" name="external_id"
                                               ng-model="item.external_id" ng-fade
                                               ng-required="true"
                                               ng-keyup="mm.updateItem(item, 'external_id', $index)">
                                    </div>
                                    <div class="m-r-5 flex-align-self-end column">
                                        <div><label class="dark-grey">Price</label></div>
                                        <input type="number" class="form-control" name="item_price"
                                               ng-model="item.price" ng-fade ng-required="true"
                                               step="0.01" min="0" ng-min="0"
                                               ng-keyup="mm.updateItem(item, 'price', $index)">
                                    </div>
                                    <div class="input-large flex-align-self-end column">
                                        <div><label class="dark-grey">P/U & Delivery</label></div>
                                        <div class="select">
                                            <select name="included_merchant_menu_types"
                                                    class="form-control"
                                                    ng-model="item.included_merchant_menu_types"
                                                    ng-change="mm.updateItemPost(item, 'included_merchant_menu_types')"
                                                    ng-options="option as option for option in mm.merchant_menu_types">
                                            </select></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Modifiers filter-->
    <div class="quick-edit-modifiers" ng-show="mm.filter_text.length >= 3">
        <div class="panel panel-primary">
            <div class="panel-heading ">
                <h3 class="panel-title">
                    Modifier Items
                </h3>
            </div>
            <div class="panel-body" ng-show="resultModifiers.length == 0">
                <h5 class="pre-load-text">No Modifiers Found</h5>
            </div>
            <div class="panel-body" ng-show="resultModifiers.length > 0">
                <table class="table table-hover content-table">
                    <thead>
                    <tr>
                        <th>Modifier Group</th>
                        <th>Modifier Name</th>
                        <th>Size</th>
                        <th>External ID</th>
                        <th>Price</th>
                        <th>Active</th>
                        <th>P/U & Delivery</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="mod_item in mm.full_menu.all_modifier_items | filter:(mm.filter_hide_inactive || '') && {active: mm.filter_hide_inactive} | filter: mm.filterModItems as resultModifiers"
                        ng-class="{successeffect: mod_item.success, loadingeffect: mod_item.loading, faileffect:mod_item.fail}"
                        class="hover">
                        <td>{{mod_item.modifier_group_name}}</td>
                        <td>{{mod_item.modifier_item_name}}</td>
                        <td>{{mod_item.size_name}}</td>
                        <td>{{mod_item.external_id}}</td>
                        <td>
                            <input type="number" class="form-control input-med" name="modifier_price"
                                   ng-model="mod_item.modifier_price" ng-fade ng-required="true"
                                   step="0.01" min="0" ng-min="0"
                                   ng-keyup="mm.updateModifierItemDelay(mod_item, 'modifier_price', $index)">
                        </td>
                        <td>
                            <toggle-switch class="toggle-switch-margin6" name="active"
                                           on-label="On" off-label="Off"
                                           ng-click="mm.toggleStopPropagation($event)"
                                           ng-change="mm.changeModifierItemActive(mod_item)"
                                           ng-model="mod_item.active">
                            </toggle-switch>
                        </td>
                        <td>
                            <div class="select">
                                <select
                                    name="included_merchant_menu_types"
                                    class="form-control"
                                    ng-model="mod_item.included_merchant_menu_types"
                                    ng-change="mm.updateModifierItemDelay(mod_item, 'included_merchant_menu_types')"
                                    ng-options="option as option for option in mm.merchant_menu_types">
                                </select>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="content-responsive">
                    <div ng-repeat="mod_item in mm.full_menu.all_modifier_items | filter:(mm.filter_hide_inactive || '') && {active: mm.filter_hide_inactive} | filter: mm.filterModItems">
                        <div class="panel panel-body row-table"
                             ng-class="{successeffect: mod_item.success, loadingeffect: mod_item.loading, faileffect:mod_item.fail}"
                             data-toggle="modal"
                             data-target="#edit-modifier-item-modal"
                             ng-click="mm.editModItem(mod_item)">
                            <div id="flex">
                                <div class="name">
                                    <h5 class="dark-grey bold">{{mod_item.modifier_item_name }}</h5>
                                </div>
                                <div class="id">
                                    <div>
                                        <toggle-switch class="toggle-switch-margin6" name="active"
                                                       on-label="On" off-label="Off"
                                                       ng-click="mm.toggleStopPropagation($event)"
                                                       ng-change="mm.changeModifierItemActive(mod_item)"
                                                       ng-model="mod_item.active">
                                        </toggle-switch>
                                    </div>
                                </div>
                            </div>
                            <div class="description clear">
                                <div ng-show="!!mod_item.size_name">
                                    Size: {{mod_item.size_name}}
                                </div>
                                <div class="content-fields">
                                    <div>Price: ${{mod_item.modifier_price}}</div>
                                    <div>P/U & Delivery: {{mod_item.included_merchant_menu_types}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="edit-item-modal" class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Update Item: {{mm.edit_item.item_name}} -
                        {{mm.edit_item.size_name}}</h4>
                </div>
                <div class="modal-body">
                    <form name="mm.item_form" class="form-horizontal" novalidate
                          ng-submit="mm.updateItemSubmit()">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Price</label>
                            <div class="col-md-9 m-t-5">
                                <input type="text" class="input-med form-control" name="price"
                                       ng-model="mm.edit_item.price" ng-fade>
                                <div class="alert alert-danger ng-hide alert-reg-position"
                                     ng-show="mm.item_form.price.$error.required
                                     && (mm.item_form.price.$faded || mm.edit_item.submit)"
                                     role="alert">
                                    Price is required.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Active</label>
                            <div class="col-md-9 m-t-10">
                                <toggle-switch class="toggle-switch-margin6" name="active"
                                               on-label="Active" off-label="Inactive"
                                               ng-model="mm.edit_item.active">
                                </toggle-switch>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">P/U & Delivery</label>
                            <div class="col-md-9 m-t-10">
                                <div class="select input-med margin-top-five"><select
                                        name="included_merchant_menu_types"
                                        class="form-control"
                                        ng-required="true"
                                        ng-model="mm.edit_item.included_merchant_menu_types"
                                        ng-options="option as option for option in mm.merchant_menu_types">
                                </select></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div ng-show="mm.edit_item.processing" class="form-loader">
                                <div class="line"></div>
                                <div class="line"></div>
                                <div class="line"></div>
                                <div class="line"></div>
                            </div>

                            <button type="button" ng-disabled class="btn btn-default"
                                    data-dismiss="modal">Cancel
                            </button>
                            <button class="btn btn-success">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="edit-modifier-item-modal" class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Update Modifier:
                        {{mm.edit_modifier_item.modifier_item_name}} -
                        {{mm.edit_modifier_item.size_name}}</h4>
                </div>
                <div class="modal-body">
                    <form name="mm.modifier_item_form" novalidate
                          ng-submit="mm.updateModifierItemSubmit()">
                        <div class="form-group">
                            <label class="control-label">Price</label>
                            <div>
                                <input type="text" class="input-med form-control" name="price"
                                       ng-model="mm.edit_modifier_item.modifier_price" ng-fade>
                                <div class="alert alert-danger ng-hide alert-reg-position"
                                     ng-show="mm.modifier_item_form.price.$error.required
                                     && (mm.modifier_item_form.price.$faded || mm.edit_modifier_item.submit)"
                                     role="alert">
                                    Price is required.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Active</label>
                            <div>
                                <toggle-switch class="toggle-switch-margin6" name="active"
                                               on-label="Active" off-label="Inactive"
                                               ng-model="mm.edit_modifier_item.active">
                                </toggle-switch>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label">P/U & Delivery</label>
                            <div>
                                <div class="select input-med margin-top-five"><select
                                        name="included_merchant_menu_types"
                                        class="form-control"
                                        ng-required="true"
                                        ng-model="mm.edit_modifier_item.included_merchant_menu_types"
                                        ng-options="option as option for option in mm.merchant_menu_types">
                                </select></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div ng-show="mm.edit_modifier_item.processing" class="form-loader">
                                <div class="line"></div>
                                <div class="line"></div>
                                <div class="line"></div>
                                <div class="line"></div>
                            </div>

                            <button type="button" ng-disabled class="btn btn-default"
                                    data-dismiss="modal">Cancel
                            </button>
                            <button class="btn btn-success">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<merchant-single-selector close-merchant-select="mm.selectMerchant(merchant)"
                          selected-merchant-id="mm.menu_merchant_id" search-function="mm.merchantSearchByMenu" auto-submit="true"></merchant-single-selector>

<edit-allowed-modifiers submit-allowed-modifier-changes="mm.submitAllowedModifierGroups()" selected-merchant-id="mm.menu_merchant_id" search-function="mm.merchantSearchByMenu" auto-submit="true"></edit-allowed-modifiers>
